html{
    box-sizing: border-box;
}
*,
*:before,
*,:after{
    box-sizing: inherit;
}
body{

background: #281E33;
}

 .medio{
    display: flex;
    justify-content: center;
    position: relative;
}
.medio{
    cursor:default;
}
header .titulo{
    justify-content: center;

}
h1{
    
    text-align:center;
    color: wheat;

}
h4 {
    color:wheat
}
h4{
    position: absolute;
    text-align: center;
}

h3{
    color:wheat
}
h3{
    text-align: center;
    position: absolute;
    
 }


 .ver{
    opacity: 0;
    transition: 0.5s ;

 }
 .ocultar{
  
    opacity: 0;
    transition: 0.5s ;
 }
.p1{
    color:thistle
   
}

.p1{
    opacity: 0;
    transition: opacity 4.5s linear 1s; 
    
}
.p2{ 
  
    opacity:0; 
    transition: opacity 6s linear 2s; 
}
.p3{
    opacity:0.0;
    transition: opacity 2s linear 1s; 
}
.p4{
    opacity:0.0;
     transition: opacity 2s linear 2s; 
}
.p5{
    opacity:0.0;
     transition: opacity 4s linear 2s; 
}
.p6{
    opacity:0.0;
     transition: opacity 2s linear 2s; 
}
.p7{
    opacity:0.0;
     transition: opacity 6s linear 2s; 
}
.p8{
    opacity:0.0;
     transition: opacity 6s linear 2s; 
}
.p9{
    opacity:0.0;
     transition: opacity 3s linear 2s; 
}
.p10{
    opacity:0.0;
     transition: opacity 6s linear 2s; 
}
.p11{
    opacity:0.0;
     transition: opacity 6s linear 2s; 
}
.p12{
    opacity:0.0;
     transition: opacity 6s linear 2s; 
}
.p13{
    opacity:0.0;
     transition: opacity 2s linear 1s; 
}
.p14{
    opacity:0.0;
     transition: opacity 6s linear 2s; 
}
.p15{
    opacity:0.0;
     transition: opacity 6s linear 2s; 
}
.p16{
    opacity:0.0;
     transition: opacity 6s linear 2s; 
}
.p17{
    opacity:0.0;
     transition: opacity 6s linear 2s; 
}
.p18{
    opacity:0.0;
     transition: opacity 6s linear 2s; 
}
.p19{
    opacity:0.0;
     transition: opacity 6s linear 2s; 
}
.p20{
    opacity:0.0;
     transition: opacity 6s linear 2s; 
}
.p21{
    opacity:0.0;
     transition: opacity 6s linear 2s; 
}
.boton{
    margin-top: 16%;
    margin-left: 45%;
    background-color:#281E33;
    border: none;
    cursor: pointer;
    border-radius: 30%;
    padding: 10px;
}

.boton{
  font-size:20pt;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}
.boton:hover{
    background: rgb(47, 5, 82);
 
    transition-duration: 1s;
  
}